<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script src="/test/extResources/Angular/angular.js"></script>
<script src="/test/js/Controller.js"></script>
<link href="/test/extResources/TwitterBootstrap/css/bootstrap.css"
	rel="stylesheet" />
</head>
<body ng-controller="loginController" ng-app="loginApp">
	<div>
		<form class="centerForm" name="loginForm" ng-submit="login()">
			<fieldset>
				<div class="form-group col-lg-10">
					<label for="username" class="control-label">Username</label>
					<input class="form-control" ng-model="username" placeholder="Username" type="text">
				</div>
				<div class="form-group col-lg-10">
					<label for="password" class="control-label">Password</label>
					<input class="form-control" ng-model="password" placeholder="Password" type="password">
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-25">
						<button type="submit" class="btn btn-primary">Login</button>
						<button type="reset" class="btn btn-default">Reset</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>
